hrm_apt_proxy_url={{ $.apt_proxy_url | quote -}}

hrm_username={{ $.hrm_username | quote -}}
image_builder="hvs-23"
image_builder_home="/tmp/$hrm_username"
lab_home="/tmp/$hrm_username"
image_builder_debs_storage="/tmp/$hrm_username/custom_debs"
